<a href='#home'><span class='glyphicon glyphicon-home' Style="color:red"></span></a>|<a href='#bio'>Biography</a>|<a href='#contact'><span class='glyphicon glyphicon-phone-alt' Style="color:red"></span></a>


<div data-ng-hide="A">
<form>

<label>
<input type='text' placeholder="enter name here" data-ng-model='name' style="border-radius:10px; border-color:red">
</label>

</form>
<button data-ng-click='ok()' class="btn btn-success" ><span class='glyphicon glyphicon-share-alt' ></span></button>
</div>

<div data-ng-hide="B">
<h1>{{x}}! {{name}}</h1>


</div>



	